body {
  font-family: 'Amaranth', sans-serif;
  font-size: 12px;
  line-height: 1.0;
}

h3, h4, h2 {
  font-size: 20px;
}

table {
  width: 100%;
}

table, tr, td {
  border: none;
}

table th {
  background: #ced4da;
  padding: 5px;
}

label span {
  color: #B2FCFB;
}

a {
  color: #102e44;
  text-decoration: none;
}

hr{
  border-top: 1px solid #102e44;
  opacity: 0.8;
}

input[type="submit"] {
  background: #102E44;
  color: #ffffff;
  box-shadow: none;
  border: 1px solid #102E44;
    border-radius: 3px;
  min-height: 30px;
    min-width: 50px;
}

.model-upload select,
.model-upload input[type="text"]{
  width: calc(100% - 55px);
    display: inline-block;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.model-upload label,
.ds-upload label {
  width: 50px;
}
.model-upload select {
  width: 83px;
}

.models-form input[type='radio'] {
  line-height: 1.2;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 5px;
}

input[type="submit"]:hover {
  background: #ffffff;
  color:  #102E44;
}

img {
  max-width: 100%;
  height: auto;
}

.div.center-upload {
  justify-content: center;
}

.model-upload input[type="file"]{
  float: left;
  width: calc(100% - 53px);
}

.model-upload label[for="id_file"] {
  width: 100%;
  margin-bottom: 10px;
}

.model-upload p {
  margin-bottom: 13px;
}

.model-upload input[type="submit"] {
  height: 38px;
  margin-top: -13px;
}

.btn {
  min-width: 80px;
}

.btn-light:hover {
  background: #102e44;
  color: #fff;
}

.footer-sticky {
  height: 50px;
  width: 100%;
  font-weight: bold;
  font-family: 'Amaranth', sans-serif;
  /*font-style: oblique;*/
}

.footer-sticky.fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #102E44;
  background-color: white;
  padding: 15px 50px;
}

.admin_button {
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.2s linear;
  border-radius: 3px;
  font-family: 'Amaranth', sans-serif;
  cursor: pointer;
}

.btn.btn-outline-primary {
  border-color: #fff;
  color: #fff;
}

.btn.btn-outline-primary:hover {
  background: #fff;
  color: #102E44;
}

.admin_button:before {
  font-family: FontAwesome;
}

#login-inp {
  display: none;
}

.form-inline {
  display: inline-flex;
}

.form-control-sm {
  margin-inline: 10px;
}

.form-inline button {
  padding: 10px 20px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}

.form-inline button:hover {
  background-color: royalblue;
}


#login-inp:checked ~ .container-admin-login {
  display: block;
}

.container-admin-login {
  display: none;
}

/* Darker background on mouse-over */
.admin_button:hover {
  background-color: #ffffff;
  color: #102E44;
}

.container-logo {
  width: 180px;
}

.container {
  padding: 15px 30px;
}

.container-django {
  min-height: calc(100vh - 150px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-icon {
  width: 500px;
  height: 500px;
  position: absolute;
  background-image: url("../logo/logo-black-pdf.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.1;
  /*pointer-events: none;*/
}

.user-icon:after {
  content: "";
  background:  url("../logo/logo-black-pdf(1).png");
  background-size: cover ;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 40px;
  left: 40%;
  animation-name: rotate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg)
  }
}

.input-group {
  align-items: center;
}

.models-form td,
.models-form th {
  padding: 5px;
}

.models-form__buttons {
  text-align: right;
}

.models-form table {
  width: 100%;
}

header {
  background-color: #102E44;
}

.nav-link-admin {
  margin: 10px 0;
}


.navbar-inverse {
  border-color: #102E44;
  background-color: #102E44;
}


.vid {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.vid iframe,
.vid object,
.vid embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.user {

}

