version: '3.9'

services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    volumes:
      - ./webservice:/app
      - ./static:/webservice/static
      - ./models:/webservice/models
      - ./media:/webservice/media
      - ./ml_output:/webservice/media/ml_output
    ports:
      - "8000:8000"
    depends_on:
      - db
  celery:
    build:
      context: .
      dockerfile: docker/Dockerfile
    entrypoint: ""
    environment:
      CELERY_BROKER_URL: redis://host.docker.internal:6379/
    command: celery -A main worker -l info
    volumes:
      - ./webservice:/app
    depends_on:
      - db
      - redis
  redis:
    image: redis
    extra_hosts:
      - "host.docker.internal:host-gateway"
    hostname: ...
    ports:
      - "6379:6379"
  db:
    image: postgres:14-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "5432:5432"


volumes:
  postgres_data:
  redis:



