{% load static %}
{% load i18n main %}

<div class="container">
  <nav class="navbar">
    <div class="container-logo">
      <a href="/" class="navbar-barnd">
        <img src="{% static 'logo/logo-no-background.png' %}" alt="AI Pass" width="200" height="60">
      </a>
    </div>

    {% if not user.is_authenticated %}
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-inline" style="display: inline-flex;">
          <input id="username" type="text" name="username" class="form-control form-control-sm"
                 placeholder="Username" style=" margin-inline: 8px;">
          <p></p>

          <input type="password" name="password" class="form-control form-control-sm" id="password"
                 placeholder="Password" style=" margin-inline: 8px;">
          <p></p>
          <input class="btn btn-secondary btn-sm" type="submit" value="login">
          <input type="hidden" name="next" value="{{ request.path }}">
        </div>
      </form>

    {% else %}
      <br><br>
      <div class="">
        <button class="btn btn-secondary btn-sm admin-button" onclick="location.href='{% url 'admin-ui' %}'"><span>Admin UI</span>
        </button>
        <button class="btn btn-primary btn-sm" onclick="location.href='{% url 'logout' %}'"><span>Log out</span>
        </button>
      </div>


    {% endif %}

  </nav>
</div>
