{% load static %}
{% load i18n main %}

<div class="container">
    <nav class="navbar">
        <div class="container-logo">
            <a href="/" class="navbar-barnd">
                <img src="{% static 'logo/logo-no-background.png' %}" alt="AI Pass" width="200" height="60">
            </a>
        </div>

        {% if not user.is_authenticated %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <label for="username"> <span>username: </span></label>
            <input id="username" type="text" name="username">

            <label for="username"><span>password:</span> </label>
            <input id="password" type="password" name="password">

            <input type="submit" value="login">
            <input type="hidden" name="next" value="{{ request.path }}">
        </form>
        {% else %}
        <br><br>
        <button onclick="location.href='{% url 'logout' %}'"><span>Log out</span></button>
        <button onclick="location.href='{% url 'admin-ui' %}'"><span>Admin UI</span></button>
        {% endif %}

    </nav>
</div>