apiVersion: "apps/v1"
kind: "Deployment"
metadata:
  name: "config-gitlab-agent"
  namespace: "default"
  labels:
    app: "config-gitlab-agent"
spec:
  replicas: 3
  selector:
    matchLabels:
      app: "config-gitlab-agent"
  template:
    metadata:
      labels:
        app: "config-gitlab-agent"
    spec:
      containers:
      - name: "app-1"
