{% load static %}
{% load i18n main %}

<div class="container">
    <nav class="navbar">
        <div class="container-logo">
            <a href="/" class="navbar-barnd">
                <img src="{% static 'logo/logo-no-background.png' %}" alt="AI Pass" width="200" height="60">
            </a>
        </div>
        <ul class="navbar-nav ml-auto">
            <li><a href="{% url 'admin-ui' %}" class="admin_button" aria-hidden="true"><span class="fa fa-cogs"></span>  <span class="label"> Admin</span></a></li>
        </ul>
    </nav>
</div>