{% extends "base.html" %}
{% load i18n main %}
{% block active_index %}class="active"{% endblock active_index %}
{% block title %}Main Page{% endblock title %}
{% block head %}{% endblock head %}

{% block header %}
    {% include 'includes/header.html'  with selected='index' %}
{% endblock header %}

{% block container %}

    <h2>Welcome to Age and gender recognition</h2>
    <br>
    <div class="center-upload">
        <div class="file-upload">
            <form action="#" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-group">
                    <label for="{{ form.image.id_for_label }}"></label>
                    {{ form.image }}
                    <input type="submit" value="Upload Image" class="btn btn-outline-secondary">
                </div>
            </form>
        </div>
    </div>




    {% if upload %}
        <br><br>
        <div class="row">
            <div class="col">

                <img class="img-fluid" src="/media/ml_output/process.jpg" alt="PROCESS">
            </div>

            <div class="col">

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <td>Face Image</td>
                        {% for c in results.count %}
                            <td>
                                <img class="img-fluid" src="/media/ml_output/roi_{{ c }}.jpg" alt="ROI" width="150" ,
                                     height="200">
                            </td>
                        {% endfor %}

                    </tr>

                    </thead>

                    <tr>
                        <td>Face Detection Score</td>
                        {% for detect_score in results.face_detect_score %}
                            <td>{{ detect_score }}</td>
                        {% endfor %}
                    </tr>

                    <!--
                    <tr>
                        <td>Name</td>
                        {% for name in results.face_name %}
                            <td>{{ name }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Face Score</td>
                        {% for name_score in results.face_name_score %}
                            <td>{{ name_score }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Emotion</td>
                        {% for emotion in results.emotion_name %}
                            <td>{{ emotion }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Emotion Score</td>
                        {% for emotion_score in results.emotion_name_score %}
                            <td>{{ emotion_score }}</td>
                        {% endfor %}
                    </tr> -->


                    <tr>
                        <td>Age</td>
                        {% for age in results.age %}
                            <td>{{ age }}</td>
                        {% endfor %}
                    </tr>

                    <tr>
                        <td>Gender</td>
                        {% for gender in results.gender %}
                            <td>{{ gender }}</td>
                        {% endfor %}
                    </tr>

                </table>
            </div>
        </div>
    {% endif %}


    <br>
    <br>
    {% if not user.is_authenticated %}
        <p>Please login to access admin page.</p>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <label for="username">username: </label>
            <input id="username" type="text" name="username">

            <label for="username">password: </label>
            <input id="password" type="password" name="password">

            <input type="submit" value="login">
            <input type="hidden" name="next" value="{{ request.path }}">
        </form>
    {% else %}
        <br><br>
        <button onclick="location.href='{% url 'logout' %}'">Log out</button>
        <button onclick="location.href='{% url 'admin-ui' %}'">Admin UI</button>
    {% endif %}



{% endblock container %}
