<!DOCTYPE html>
<html lang="en">
<head>
    <title>Age Detection App</title>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body class="override">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">Age Detection App</a>
            </div>
           
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                </ul>
            </div>
        </div>
    </nav>

{% block content %}

{% endblock %}


{% if not user.is_authenticated %}
    
      <p>Admin account logged in

<h3>Dataset upload</h3>

<form action="#" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <input type="file" name="file">
        {{ errors.file }}
    </div>

    <input type="submit" value="Upload" required>
</form>

<h3>Model</h3>

<p>Please pick the model to train:</p>

<form action="">
    <input type="radio" id="model1" name="model1" value="model1">
    <label for="model1">Model 1</label>
    <br>
    <input type="radio" id="model2" name="model2" value="model2">
    <label for="model2">Model 2</label>
    <br>

</form>
   
    <div class="container">
        <div class="row">
        </div>
    </div>
   
    <footer>
        <div class="container">
            <div class="row well ml-t">
                <div class="col-lg-8 col-md-8">    
                    <h4>Developed by: <a target="_blank">Group 3</a></h4>
                </div>
                <div class="col-lg-4 col-md-4">
                </div>
            </div>
        </div>
    </footer>
</body>
      </p>
{% else %}
      <p>Please login to access admin page.</p>
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <label for="username">username: </label>
        <input id="username" type="text" name="username" >
    
        <label for="username">password: </label>
        <input id="password" type="password" name="password" >
    
        </table>
        <input type="submit" value="login">
        <input type="hidden" name="next" value="{{ next }}">
    </form>


{% endif %}


  {# Assumes you setup the password_reset view in your URLconf #}

